[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymodbus = {extras = ["serial"], version = "==3.5.2"}
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.11"
